section#difference {
    padding-top: 6.25rem;

    h2 {
        color: var(--color-title-hero-section);

        span {
            color: var(--color-title-detailer-hero-section);
        }
    }

    .row-cards {
        padding-top: 64px;
        padding-bottom: 64px;

        .card {
            padding: 28px 10px;
            background: linear-gradient(150deg, #0077ff30 0%, #0077ff00 50%);
            border: none;
            min-height: 394px;

            @media screen and (max-width:768px) {
                margin-top: 1rem;
            }

            .card-body {

                h5 {
                    font-size: 35px;
                    text-align: center;
                    color: #FFFFFF;

                }


                p {
                    font-size: .9rem;
                    color: #C1C0FA;

                }

                div.card-text {
                    ul {
                        list-style-type: none;
                        padding: 0;
                    }

                    li {
                        position: relative;
                        padding-left: 25px;
                        color: #C1C0FA;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 16px;
                            height: 16px;
                            background: url('../../src/img/Vector.svg');
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }


                }
            }
        }
    }
}