section#hero-section {
    min-height: 100vh;
    // background: url("../../src/img/bg_hero_webp_4x.webp");
    background: url("../../src/img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

    @media screen and (max-width:768px) {
        background-size: 100vh;
        background-position-x: 90%;
        background-position-y: 15vh;

        h2.hero {
            margin-top: 0 !important;
            margin-bottom: 1rem !important;
        }

        a.btn.hero {
            padding: 17px 40px !important;
            margin-top: 50vh !important;
        }
    }

    .container {
        padding-top: 4rem;
    }

    .row {
        width: 100%;
    }

    h2 {
        font-family: Good Timing;
        font-size: 42px;
        font-weight: 700;
        line-height: 48.86px;
        text-align: left;
        color: var(--color-title-hero-section);

        span {
            color: var(--color-title-detailer-hero-section);
        }

        @media screen and (min-width:768px) {
            // width: 510px;
        }
    }

    p {
        font-family: D-DIN Exp;
        font-size: 20px;
        font-weight: 400;
        line-height: 29.08px;
        text-align: left;
        color: var(--color-text-hero-section);

        @media screen and (min-width:768px) {
            width: 22rem;
        }
    }

    a.btn.hero {
        background: var(--bg-btn);
        box-shadow: var(--box-shadow-btn);
        color: var(--color-btn);
        font-family: Good Timing;
        font-size: 17px;
        font-weight: 700;
        line-height: 23.4px;
        text-align: center;
        border-radius: 7.24px;
        padding: 1rem 10px;
        transition: all .5s ease;

        @media screen and (min-width:768px) {
            padding: 1rem 64px;
        }

        @media screen and (min-width:1024px) {
            padding: 1rem 40px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}